<div class="row">
    <div class="col-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <a href="#" class="list-group-item clearfix" *ngFor="let Recipe of Recipes">
            <hr>
            <div class="float-start">
                <h3 class="list-group-item-heading">{{Recipe.name}}</h3>
                <p class="list-group-item-text">{{Recipe.description}}</p>
            </div>
            <span class="float-end">
                <img src="{{Recipe.imagePath}}" alt="{{Recipe.name}}" class="img-fluid" style="max-height: 160px;">
            </span>
        </a>
        <app-recipe-item></app-recipe-item>
    </div>
</div>